__history
*.dcu
*.exe
*.dll
*.bpl
*.~bpl
*.~dsk
Output
*.obs
*.tvsconfig
*.local

/Test/DUnit/D12
/Test/TestCases/D12
/IdePlugin/XE10/JCFIdeXE10.dproj.local
/IdePlugin/XE10/JCFIdeXE10.identcache
/Notepad/XE10/JcfNotepad.dproj.local
/Notepad/XE10/JcfNotepad.identcache
/Test/DUnit/XE10/jcf_test.dproj.local
/Test/DUnit/XE10/jcf_test.identcache
/Test/TestCases/XE10/*.local
/Test/TestCases/XE10/*.identcache
